li {
    display: flex;
    align-items: center;
    background-color: #e4ecfa;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}

li:hover {
    transform: translateY(-3px);
}

button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #6182a2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #456689;
}

.btn-container {
    display: flex;
    justify-content: right;
}

li[data-type="Dairy"]::before {
    content: '■'; 
    color: #a2d2ff; 
    margin-right: 10px;
}

li[data-type="Vegetables"]::before {
    content: '■';
    color: #80b918; 
    margin-right: 10px;
}

li[data-type="Fruits"]::before {
    content: '■';
    color: #ff595e; 
    margin-right: 10px;
}

li[data-type="Grains"]::before {
    content: '■';
    color: #fcbf49; 
    margin-right: 10px;
}

li[data-type="Protein"]::before {
    content: '■';
    color: #756843; 
    margin-right: 10px;
}

li[data-type="Other"]::before {
    content: '■';
    color: #c9268d; 
    margin-right: 10px;
}