.home-container {
    display: flex;
    justify-content: space-between;
    padding: 2vmin;
    margin: 0 20px;
    background-color: white;
    border-radius: 1vmin;
}

.home-container div {
    flex: 1;
    margin: 0 10px;
    padding: 1vmin;
}

.home-container img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 2vmin;
}

.home-container button:hover {
    background-color: #e4a6a6;
    transition: background-color 0.3s;
    border-radius: 5px;
}